/* css styles */


/* car wash 4 was table code/

/* Remove all horizontal lines in the table */
table {
    border-collapse: collapse;
  }
  
  table th, table td {
    border: none;
    padding: 8px;
  }
  
  table tr {
    border-bottom: none;
  }
  
/* end css code for 4 carwash table code/


/* this is for the index.qmd file to have side by side in pc and top and bottom in mobile */
/* Flex container for responsive sections */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  flex: 1 1 45%;
  margin: 10px;
}

@media (max-width: 768px) {
  .flex-item {
    flex: 1 1 100%;
  }
}

/* this is the end code for the side by side code for the index.qmd file */




/* Full-width content this part moves away from the ds250 set up */
.full-width {
  max-width: 100%;
  padding: 0 20px;
}

/* Ensure the main content covers a wider area */
main {
  width: 100%;
  max-width: 1200px; /* You can adjust this value */
  margin: 0 auto;
}
/* end of full-width code */


/* this code adds the bubbles imagine to the index file */
body {
  background-image: url('Images/lightbluebubbles_background.jpg');
  background-size: cover;  /* Cover the entire viewport */
  background-position: center;  /* Center the background image */
  background-repeat: no-repeat;  /* Do not repeat the image */
  background-attachment: fixed;  /* Keep the background fixed during scrolling */
  min-height: 100vh;  /* Minimum height of 100% of the viewport */
}

/* end of code that adds bubbles imagine to index.qmd */
